In [8]:
name= "Basit ali"
print(name.center(40))

               Basit ali

In [3]:
print(name.capitalize())

Basit ali

In [5]:
print(name.casefold())

basit ali

In [11]:
print(name.count("a"))

2

In [12]:
print(name.encode())

b'Basit ali'

In [16]:
print(name.endswith("ali"))

True

In [30]:
str = "xyz\t12345\tabc"
print( str)

print(str.expandtabs(20))

xyz	12345	abc
xyz                 12345               abc

In [34]:
print(name.find("a"))

1

In [40]:
address = "{}. Bahria university Islamabad".format("address")
print(address)

address. Bahria university Islamabad

In [42]:
Abc = {"name":"ALi","grade":"B"}
print('{name} grade is {grade}'.format_map(Abc))

ALi grade is B

In [46]:
Name = "Basit Ali Murtaza"
print(Name.index("Ali"))

6